node_modules
.pnpm-store
.turbo
coverage
dist
test-results
floating-ui
pnpm-lock.yaml
react-remove-scroll
react-remove-scroll-bar
react-style-singleton
use-callback-ref
use-sidecar
libs/radix-ui-themes/**/*.css
